body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%; 
    display:flex;
    flex-direction: column;
}
a {
    text-decoration: none;  
}
header {
    display: flex;
    height: 60px;
    justify-content: flex-end;
    padding-top: 4px;
    padding-right: 20px;
    align-items: center;
    font-size: 13px;
}
.main-content {
    padding-left: 10px;
    padding-right: 10px;
}
header .main-content a{
    font-size: 13px;
    color: #000;
}
header .main-content a:hover{
    text-decoration: underline;
}
header .main-content button{
    padding: 8px 14px;
    border-radius: 3px;
    background: #6495ED;
    border: 0;
    outline: none;
    font-size: 14px;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
header .main-content button:hover{
    background-color: #3284ee;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex:1;
}
.wrap {
    display: flex;
    flex-direction: column;
}
.wrap .logo {
    margin-bottom:30px;
}
.input {
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    display: flex;
    width: 482px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    font-size: 15px;
}
.input:hover {
    box-shadow:0 0 20px rgba(0,0,0,0.3);
    border-radius: 50px;
    transition:all 0.4s ease;
}
input {
    border: none;
    margin-left: 20px;
    outline: 0;
    border-radius: 50px;
    font-size: 15px;
    width: 380px;
}
.access {
    flex:1;
    display: flex;
    justify-content: center;
    align-items:center;
}
.access img {
    margin-right:10px;
    cursor:pointer;
}

.Butão button {
    background-color: #DCDCDC;
    border:1px solid #DCDCDC;
    padding: 10px 16px 10px 16px;
    margin: 30px 10px; 
    font-size: 14px;
    border-radius: 5px;
    color:#696969;
    cursor:pointer;
}
.Butão button:hover {
    border:1px solid #dadada;
    box-shadow: 0px 1px 0px #CCC;
    color:#000;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
.container line-1 {
    flex-direction: column;
    height: 90px;
    padding: 0px;
}
.line-1 .line3, .line-1 .line2 {
    width: 97%;
    height: 50%;
    padding: 15px 30px;
    font-size: 14px;
    background-color: #F2F2F2;
    color:  #3C4043;
}
.line-1 .line3 {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
}
.line3_0 , .line4 {
    display: flex;
    height: 100%;
    width: 24%;
}
.line3_0  {
    justify-content: flex-start;
}
.line3_0 div {
    margin-right: 24px;
}
.line4 {
    justify-content: flex-end;
}
.line4 div {
    margin-left: 24px;
}
@media (max-width: 768px) {
    .search_tools img {
        max-height: 130px;
    }
    .search_tools .search_bar {
        width: calc(100% - 10%);
    }
}
